#ImagenTitulo {
    text-align: center;
    width: 100%;
}
#imgtitulo {
    width: 100%;
    height: auto;
}
#carrousel {
    text-align: center;
}

#carrousel>button {
    border-radius: 100%;
    border: 0;  /*Sin borde para que se vean los puntos como en el Carrousel*/
    width: 1em;
    height: 1em;
    margin: 1% 1% 5%;
    background-color: #F39F9F;
    
}
#carrousel>button:hover {
    background-color: #CD2C58; 
}

#carrousel>button:first-child {
    background-color: #CD2C58;
}


#father {
    width: 100%; /*Para que ocupe todo el ancho*/
    min-height: 100px;
    margin: auto;
    text-align: center; /*Tambien funciona con justify*/
    
    
}
#father .item {
     background-color: white;
     border-radius: 0.5em;
     width: 15em;
     min-height: 20em;
     display: inline-block; /*Si lo pongo (inline block) en el father no funciona!!!*/
     box-shadow: 2px 2px 5px grey; /*x y desenfoque color*/
     margin:1em 1em; /*Esto es interesante*/
     overflow: auto;
     padding: 2em 1.5em; /*Esto realmente estaría bien? NO */
     text-align : left; 
     transition: ease-out 0.15s;
     
}

#father .item:hover {
    transform: scale(1.1);
}

#father .item .card-header {
    font-size: 16px;
}

#father .item .card-header .tituloItem {
    display: inline-block; /*Para alinearlo con la foto! */
    margin: 0;
    font-family: Times New Roman;
    margin: calc(25px - 1em) 0;
}

#father .item .card-header .iconFavorite { 
    width: 40px;
    height: 40px;
    display: block;
    /* vertical-align: middle; */
    /*ESTO LA VERDAD QUE NO LO ENTIENDO MUCHO.. BUENO SÍ, PERO NO SÉ SI PONERLO*/
    /* margin-left: 25%;*/
    /*Para separar el corazóndando mucho margin en el left*/
    float: right;
}
.card-imagen {
    padding: 10%;
    width: 100%;
}
.imgitems {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;  
}
.textitoItem {
   font-family: Geneva;
   margin-bottom: -10%; /*PREGUNTAR SI ESTO ES TEORICAMENTE CORRECTO; PORQUE CLARO ENTIENDO QUE ES QUE AL SOLAPARSE HAY MUCHO MARGEN DEL ELEMENTO INFERIOR???*/
}



.precioSinR {
    display: inline-block;
    text-decoration: line-through;
    color: darkgray;
    
}

.precio {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
}

