nav {
    background: linear-gradient(#fe9e78, #ee294b);
    border-radius: 0px 0px 10px 10px ;
    padding-bottom: 10px;
    height: 9em;
}
.list-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    
}
.list-nav>li {
    float: left;
}
li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    font: 1em sans-serif;
    font-weight: semibold;
}

.logo {
    width: 80px; 
    height: 80px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.lupa {
    position: relative;
    right: 20;
    top: 2;
    width: 1em;
    height: 1em;
}
.busqueda {
    padding-top: 1em;
    
}
.busqueda>input{
    height: 2em;
}
.busqueda>input:focus{
    border-color: black;
    border: 20;
}
.cart {
    width: 3.5em;
    height: 3em;
    padding: 10px;
    margin-top: 0.5em;
    transition: transform 0.3s ease;
}
.cart:hover {
    transform: rotate(360deg);
}
.desplegable {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: ghostwhite;
    border: 1px solid black;
    padding: 0.5em;
    z-index: 100;
    border-radius: 5px;
    margin-left: 5px;

}
.desplegable>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.desplegable>ul>li{
    margin-top: 5px;
}
.btn-desplegable:hover{
    .desplegable{
        display: block;
    }
}
.triangulo {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid ghostwhite;
}
.desplegable ul li:hover {
  background-color: #e0e0e0;
}

.nav-items-raya {
    position: relative;
    top: 20;
    background-color: black;
    width: 2px;
    height: 1em;
    border-radius: 100%;
}