nav {
    background: linear-gradient(#fe9e78, #ee294b);
    border-radius: 0px 0px 10px 10px ;
    padding-bottom: 10px;
    height: 8em;
}
.list-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    
}
.list-nav>li {
    float: left;
    border-left: black;
    border: 2px;
}
li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    font: 1em sans-serif;
    font-weight: semibold;
}

.logo {
    width: 50px; 
    height: 50px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.lupa {
    position: relative;
    right: 20;
    top: 2;
    width: 1em;
    height: 1em;
}
.busqueda {
    padding-top: 1em;
    
}
.busqueda>input{
    height: 2em;
}
.busqueda>input:focus{
    border-color: black;
    border: 20;
}
.cart {
    width: 4em;
    height: 3em;
    padding: 10px;
    margin-top: 0.5em;
}
.cart:hover {
    margin-top: 0.3em;
}
.desplegable {
    display: none;
    position: absolute;
    width: 15%;
    height: fit-content;
    background-color: ghostwhite;
    border: 2px;
    border-color: black;
    padding: 0.5em;

}
.desplegable>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.desplegable>ul>li{
    margin-top: 5px;
}
.btn-desplegable:hover{
    .desplegable{
        display: block;
    }
}